* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-color: #ae2029;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 60px;
}

.header p {
    font-size: 40px;
}


/* Create three equal columns that floats next to each other */


/*Ejemplo de estilos por clase*/

.column {
    float: left;
    width: 100%;
    /*padding: 0(distancia arriba) 20% (derecha) 0(abajo) 20%(izquierda);*/
    padding: 20px 20%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column h2 {
    color: green;
    text-align: center;
}


/*Image Gallery*/

.gallery {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.gallery img {
    width: 100%;
}

.gallery .desc {
    /*desc es una etiqueta*/
    padding: 15px;
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}